.w-btn {
    width: 155px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 20px;
  }
  
  .w-btn-close {
    background-color: #EFEFEF;
    color: var(--primary);
  }
  
  .w-btn-save {
    background-color: var(--primary);
  }