@import './base.css';
@import './fonts.css';
@import './buttons.css';

:root {
  --primary:#5C90F1;
  --main-color: #0258BC;
  --text-color: #464646;
  --border-color: #737373;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

button {
  background-color: transparent;
  border: none;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

body {
  font-size: .875rem;
  font-family: "Metropolis";
  background: #FFF;
  padding: 4rem 0.5rem 0.5rem 7rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: #F4F4FF;
  width: 7rem;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 4.5rem;
  }

  .sidebar .logo {
    display: none;
  }

  body {
    padding-top: 5.5rem;
    padding-left: 0.5rem;
  }
}

.sidebar .nav-link {
  background-color: #FFF;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.sidebar .nav-link path {
  fill: #AFAFAF;
}

.sidebar .router-link-active {
  background-color: #0258BC;
}

.sidebar .router-link-active path {
  fill: #FFF;
}

/*
 * Navbar
 */

.navbar {
  background: #F4F4FF;

}

@media (max-width: 767.98px) {
  .navbar {
    height: 5rem;
  }
}

.text-small {
  font-size: 85%;
}


.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}

/* header */
.header-datetime, 
.header-logo {
  display: none;
}
 
.pg-header .header-logo {
  display: block;
}

.pg-header .header-datetime {
  display: flex;
  position: absolute;
  bottom: -8px;
  left: 125px;
}

.header-datetime span {
  font-size: 18px;
  font-weight: 400;
}

.header-datetime span:first-child {
  margin-right: 38px;
}

.header-logo .top-block-logo {
  background-color: transparent;
  min-width: auto;
  margin: 0;
  padding: 0;
  margin-right: -95px;
  box-shadow: none;
}

.header-logo .top-block-logo img {
  max-width: 55px;
  max-height: 55px;
}

.header-logo .top-block-info_text span {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  white-space: nowrap;
}

.header-logo .top-block-info_text span:first-child {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}

/* homepage */
.wrapper {
  padding: 22px 40px;
}

.page-wrapper {
  padding: 22px 8px;
}

.layout-wrapper {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-wrapper h3 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
  color: var(--text-color);
}

.layout-wrapper-nav {
  display: flex;
  align-items: center;
}

.top-block {
  margin-bottom: 36px;
  display: flex;
}

.top-block-logo {
  background: #FFFFFF;
  min-width: 340px;
  width: auto;
  margin-right: 34px;
  padding: 14px 25px 14px 14px;
  display: flex;
  align-items: center;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.top-block-logo img {
  max-width: 110px;
  max-height: 110px;
  margin-right: 4px;
}

.top-block-info_text {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  color: #3D77A2;
}

.top-block-info_text span:first-child {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.top-block-info_text span {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
}

.top-block-info {
  background-color: #222873;
  width: 100%;
  padding: 25px 30px;
  color: #FFFFFF;
  border: 0.5px solid var(--border-color);
  border-radius: 16px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}

.top-block-info h3 {
  margin-bottom: 14px;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
}

.top-block-info-date {
  display: flex;
}

.top-block-info-date span:first-child {
  margin-right: 54px;
}

.top-block-info-date span {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.main-grid {
  display: grid;
  grid-template-columns: 40fr 30fr 30fr;
  gap: 26px;
}

/* homepage cards */
.cards-wrapper {
  display: grid;
  gap: 26px;
}

.cards-wrapper:nth-child(1) {
  grid-template-rows: 60fr 40fr;
}

.cards-wrapper:nth-child(2) {
  grid-template-rows: 40fr 60fr;
}

.cards-wrapper:nth-child(3) {
  grid-template-rows: 90fr 10fr;
}

.calendar-card {
  padding-bottom: 0;
}

.calendar-card h4 {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.calendar-card-list {
  padding-left: 28px;
}

.messages-card h4,
.dashboard-card h4 {
  margin-bottom: 12px;
}

.calendar-card-list h4 {
  margin-bottom: 0;
  margin-top: 4px;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}

.calendar-card-list ul {
  margin-top: 16px;
  margin-left: 30px;
}

.calendar-card-list ul li {
  background-color: #F4F4FF;
  margin-bottom: 14px;
  padding: 12px 16px 12px 32px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  border-radius: 10px;
}

.calendar-card-list ul li:last-child {
  margin-bottom: 0;
}

.calendar-card-list ul li:before {
  content: url("@/assets/img/marker.svg");
  position: absolute;
  left: -28px;
  top: -3px;
}

.calendar-card-list ul li:after {
  content: "";
  position: absolute;
  left: -22px;
  top: 26px;
  background-color: #0467DC;
  width: 2px;
  height: 40px;
}

.calendar-card-list ul li.active:before {
  content: url("@/assets/img/marker-active.svg");
}

.calendar-card-list ul li .calendar-list-time {
  min-width: 92px;
  margin-right: 25px;
  font-size: 20px;
}

.calendar-card-list ul li.active {
  background-color: var(--primary);
  color: #FFFFFF;
}

.cards-wrapper-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.cards-wrapper-grid .dashboard-card h4 {
  margin-bottom: 40px;
}

.cards-wrapper-grid .dashboard-card svg {
  max-width: 65px;
  margin: 0 auto 40px;
}

.messages-card ul li {
  background-color: #F4F4FF;
  margin-bottom: 14px;
  padding: 12px 12px 12px 30px;
  display: flex;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: 10px;
}

.messages-card ul li:last-child {
  margin-bottom: 0;
}

.messages-card .dashboard-card-btn {
  margin-top: 12px;
}

.messages-card ul li div {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #000000;
}

.messages-card-name {
  min-width: 72px;
  margin-right: 12px;
  text-align: right;
}

.patients-card ul {
  list-style: none;
}

.patients-card ul li {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #000000;
}

.patients-card img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 20px;
  border-radius: 50%;
}

.education-card {
  justify-content: unset;
}

.education-card h4 {
  margin-bottom: 40px;
}

.education-card img {
  max-width: 75px;
  margin: 0 auto 22px;
}

.education-card ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  list-style: none;
}

.education-card ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-card ul li:first-child {
  margin-bottom: 40px;
}

.quotes-card {
  padding: 0;
  justify-content: center;
}

.quotes-card p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 16px;
  text-align: center;
  align-self: center;
  display: flex;
}

/* page */
.page-bg {
  background-color: #F3F3F3;
  height: 80vh;
  padding: 30px 20px;
  border-radius: 16px;
}

/* my patients */
.patients-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patient-search-wrapper {
  display: flex;
}

.patients-search {
  position: relative;
}

.patients-search input {
  background-color: #FFFEFE;
  width: 420px;
  padding: 15px 30px;
  border: none;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  line-height: 24px;
  color: var(--text-color);
  outline: none;
}

.patients-search input[type="search"]::-webkit-search-cancel-button,
.patients-search input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.patients-search-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-20px, -50%);
}

.patient-select {
  background-color: #FFFEFE;
  background-image: url("@/assets/img/select-icon.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 90%;
  margin-left: 10px;
  padding: 5px 26px 5px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
  border: none;
  border-radius: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.patients-table {
  /* height: 68vh; */
  margin-top: 10px;
  /* margin-right: -30px;
  overflow-y: scroll;
  overflow-x: hidden; */
}

.patients-table table {
  width: 100%;
}

.patients-table thead th {
  position: sticky;
  top: 0;
}

.patients-table tbody:before {
  content: "@";
  display: block;
  height: 0;
  text-indent: -99999px;
}

/* .patients-table::-webkit-scrollbar {
  width: 15px;
}

.patients-table::-webkit-scrollbar-track {
  background-color: #E7E7E7;
  margin-top: 40px;
  margin-right: -10px;
  border-radius: 8px;
}

.patients-table::-webkit-scrollbar-thumb {
  background-color: #E7E7E7;
  border-radius: 8px;
} */

.patients-table table {
  border-collapse: separate; 
  border-spacing: 0 10px;
}

.patients-table table thead tr th {
  border-bottom: 1px solid #DBDBDB; 
  border-collapse: separate; 
  border-spacing: 5px 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 45px;
  color: #969696;
}

.patients-table table thead tr th:first-child {
  padding-left: 80px;
}

.patients-table tbody tr {
  background-color: #FFFFFF;
  height: 80px;
  padding: 20px 50px 20px 80px;
  border-radius: 16px;
}

.patients-table tbody tr td, 
.patients-table tbody tr td a {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #000000;
}

.patients-table tbody tr td:first-child {
  border-top-left-radius: 16px;
  padding-left: 80px;
}

.patients-table tbody tr td:last-child {
  border-top-right-radius: 16px;
}

.patients-table tbody tr td:first-child {
  border-bottom-left-radius: 16px;
}

.patients-table tbody tr td:last-child {
  border-bottom-right-radius: 16px;
}

.patients-table tbody tr td.patients-img img {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
}

.patients-table tbody tr td.patients-img span {
  display: inline-block;
  margin-left: 25px;
}

.label-status {
  width: 130px;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  border-radius: 10px;
}

.label-status.incomplete {
  background: #FDD3D3;
  color: #FF0000;
}

.label-status.complete {
  background: #CCEED0;
  color: #00B733;
}

.patients-details {
  position: relative;
}

.patients-details img {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

/* calendar page */
.calendar-wrapper {
  height: 78vh;
}

.calendar-visit-type {
  display: flex;
}

.calendar-btn {
  display: flex;
  align-items: center;
}

.calendar-btn svg {
  cursor: pointer;
}

.calendar-visit-type ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.calendar-visit-type ul li {
  margin-right: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #8E8E8E;
}

.calendar-visit-type ul li p {
  margin-bottom: 6px;
}

.calendar-visit-type ul li span {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  border-radius: 5px;
}

.calendar-visit-type ul li:first-child span {
  background-color: #B2C4E7;
}

.calendar-visit-type ul li:nth-child(2) span {
  background-color: #CCEED0;
}

.calendar-visit-type ul li:nth-child(3) span {
  background-color: #FED9FF;
}

.calendar-visit-type ul li:last-child span {
  background-color: #FFFCBC;
}

/* calendar popup */
.type-select {
  background-color: #EFEFEF;
  margin-bottom: 24px;
  display: flex;
  border-radius: 20px;
}

.type-select-item {
  padding: 12px 20px 12px 24px;
  border-radius: 20px;
  cursor: not-allowed;
  opacity: .3;
}

.type-select-item.active {
  background-color: var(--primary);
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
  opacity: 1;
}

.popup-content-item {
  display: flex;
  flex-direction: column;
}

.popup-content-item label {
  margin: 0 0 6px 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.popup-content-item.visit-type {
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  gap: 8px;
}

.popup-content-item.visit-type label {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 14px;
}

.popup-content-item.visit-type .checkbox.path .label-bg {
  background-color: #B2C4E7;
  padding: 6px 10px;
  border-radius: 8px;
  color: #727272;
}
.popup-content-item.visit-type .checkbox.path:nth-child(2) .label-bg {
  background-color: #CCEED0;
}
.popup-content-item.visit-type .checkbox.path:nth-child(3) .label-bg {
  background-color: #FED9FF;
}
.popup-content-item.visit-type .checkbox.path:nth-child(4) .label-bg {
  background-color: #FFFCBC;
}

.checkbox {
  position: relative;
}

.checkbox input,
.checkbox svg {
  width: 21px;
  height: 21px;
  display: block;
}

.checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  outline: none;
  background: #FFFFFF;
  border: none;
  margin: 0 6px 0 0;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 0.3s;
  box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--primary));
}

.checkbox input:hover {
  --s: 2px;
  --b: var(--primary);
}

.checkbox input:checked {
  --b: var(--primary);
}

.checkbox svg {
  pointer-events: none;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--main-color, var(--primary));
  position: absolute;
  top: 5px;
  left: 0;
  width: 21px;
  height: 21px;
  transform: scale(var(--scale, 1)) translateZ(0);
}

.checkbox.path input:checked {
  --s: 2px;
  transition-delay: 0.4s;
}

.checkbox.path input:checked + svg {
  --a: 16.1 86.12;
  --o: 102.22;
}

.checkbox.path svg {
  stroke-dasharray: var(--a, 86.12);
  stroke-dashoffset: var(--o, 86.12);
  transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
}

.checkbox.bounce {
  --stroke: var(--tick);
}

.checkbox.bounce input:checked {
  --s: 11px;
}

.checkbox.bounce input:checked + svg {
  -webkit-animation: bounce 0.4s linear forwards 0.2s;
  animation: bounce 0.4s linear forwards 0.2s;
}

.checkbox.bounce svg {
  --scale: 0;
}

@-webkit-keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.popup-content-item .icon {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup-content-item .label-w-icon {
  margin: 6px 0 0 0;
}

.popup-content-item .label-w-icon .popup-content-item-input {
  /* margin-left: -8px; */
  margin-top: 6px;
  width: 100%;
}

.popup-content-item .label-w-icon svg {
  width: 24px;
  position: absolute;
  right: 14px;
  top: 40%;
  z-index: 0;
}

.popup-content-item .label-w-icon svg path {
  fill: #B8B8B8;
}

input[type="date"].popup-content-item-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 30px;
  height: 30px;
  padding-right: 10px;
  cursor: pointer;
  z-index: 1;
}

.popup-content-item .popup-content-item-input, 
.popup-content-item textarea, 
.popup-content-item select {
  margin-bottom: 14px;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  outline: none;
}

.popup-content-item .popup-content-item-input {
  height: 50px;
}

.popup-content-item textarea {
  height: 104px;
  resize: none;
}

.popup-content-item select {
  background-color: #FFFEFE;
  background-image: url("@/assets/img/select-icon.svg");
  background-repeat: no-repeat;
  background-position: top 50% left 94%;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.popup-content-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.popup-content-item-wrapper input {
  max-width: 155px;
}

/* vue cal */
.calendar-wrapper .vuecal {
  box-shadow: none;
}

.calendar-wrapper .vuecal__title-bar {
  background-color: #FFFEFE;
  min-height: 55px;
  margin-bottom: 20px;
  border: 1px solid rgba(196, 196, 196, .45);
  border-radius: 16px;
}

.calendar-wrapper .vuecal__bg {
  background: #FFFEFE;
  border: 1px solid rgba(196, 196, 196, .45);
  border-radius: 16px;
}

.calendar-wrapper .vuecal__flex {
  border: none;
}

.calendar-wrapper .vuecal__bg::-webkit-scrollbar {
  width: 8px;
  height: 16px;
  padding: 20px;
  margin: 20px;
}

.calendar-wrapper .vuecal__bg::-webkit-scrollbar-track {
  background-color: #DBDBDB;
  border-radius: 8px;
}

.calendar-wrapper .vuecal__bg::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8px;
}

button.vuecal__today-btn {
  position: absolute;
  top: 52%;
  right: 5%;
  transform: translateY(-50%);
}

.vuecal__today-btn span.default {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
}

.vuecal__arrow i.angle {
  border-width: 0 3px 3px 0;
  border-radius: 1px;
}

.vuecal__arrow--prev i.angle {
  border-width: 3px 0 0 3px;
}

.vuecal__cell-events-count {
  background-color: var(--primary);
  min-width: 32px;
  height: 32px;
  top: 60%;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  border-radius: 50%;
}

button.vuecal__arrow {
  display: flex;
  align-items: center;
}

.calendar-wrapper .vuecal__title-bar .vuecal__flex[grow] {
  width: auto;
  flex: unset;
}

.vuecal--month-view .vuecal__cell-content {
  justify-content: flex-start;
  height: 100%;
  align-items: flex-end;
}

.calendar-wrapper .vuecal__title, 
.calendar-wrapper .vuecal__title button {
  font-family: "Metropolis";
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color);
}

.calendar-wrapper .vuecal__flex.weekday-label {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: var(--text-color);
}

.calendar-wrapper .edit-btn {
  font-size: 14px;
  color: #464646;
}

.calendar-wrapper .vuecal__event {
  max-width: 95%;
  margin: 0 auto;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(3%);
  color: #727272;
  border-radius: 20px;
  cursor: pointer;
}

.calendar-wrapper .vuecal__special-hours em {
  font-size: 0.9em;
  color: #999;
}

.calendar-wrapper .vuecal__time-column {
  width: 56px;
}

.calendar-wrapper .vuecal__time-cell {
  /* height: 100px!important; */
  font-size: 14px;
  font-weight: 600;
  color: #8E8E8E;
  text-align: center;
}

.calendar-wrapper .vuecal__event-title {
  font-size: 14px;
  font-weight: 600;
  color: #464646
}

.calendar-wrapper .vuecal__event-time {
  font-size: 14px;
  font-weight: 600;
  color: #727272;
}

.calendar-wrapper .vuecal__event-content {
  font-size: 14px;
  font-weight: 600;
  color: #727272;
}

.box_blue {
  background-color: #B2C4E7;
}

.box_green {
  background-color: #CCEED0;
}

.box_pink {
  background-color: #FED9FF;
}

.box_yellow {
  background-color: #FFFCBC;
}

.closed {
  background:#fff7f0 repeating-linear-gradient(-45deg, rgba(255, 162, 87, 0.25), rgba(255, 162, 87, 0.25) 5px, rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, 0) 15px);
  color: #f6984c;
}

.calendar-modal {
  background-color: #FFFFFF;
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  font-size: 18px;
  text-align: center;
  z-index: 99;
}

.calendar-modal-btn-close {
  background: #E4E4E4;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.calendar-modal-title {
  font-size: 20px;
}

.calendar-modal-date {
  font-weight: 500;
}

.calendar-modal ul {
  margin-top: 16px;
  list-style: none;
}

.calendar-modal ul li {
  flex: 48%;
}

.calendar-modal ul li span, 
.calendar-modal ul li input {
  height: 50px;
  margin-bottom: 14px;
  padding-left: 16px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  outline: none;
  font-weight: 500;
  line-height: 50px;
  text-align: left;
}

/* pagination */
.pagination-wrapper ul {
  list-style: none;
  display: flex;
}

.pagination-wrapper ul li {
  margin-left: 12px;
  font-size: 28px;
  font-weight: 400;
  color: #979797;
}

.pagination-wrapper ul li:first-child {
  color: #000000;
}

/* patients details */
.light-bg {
  background-color: #FFFFFF;
  border-radius: 16px;
}

.patient-btns .w-btn {
   margin-right: 32px;
}

.patient-btns a {
  background-color: #FFFFFF;
  min-width: 155px;
  padding: 12px 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #0467DC;
  border: 1px solid #0467DC;
  border-radius: 20px;
  text-decoration: none;
  transition: .3s ease;
}

.patient-top {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
}

.patient-profile-left {
  width: 100%;
  margin-right: 18px;
  padding: 16px 26px;
  display: flex;
  justify-content: space-between;
}

.patient-profile-left-info {
  display: flex;
  align-items: center;
}

.patient-profile-left-info img {
  width: 75px;
  height: 75px;
  margin-right: 36px;
  border-radius: 50%;
}

.patient-profile-left-info h6 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: var(--main-color);
}

.patient-profile-left-info span {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #949494;
}

.patient-profile-left-btn {
  display: flex;
  align-items: center;
}

.patient-profile-left-btn .btn-wrapper {
  margin-right: 18px;
}

.patient-profile-left-btn .btn-wrapper .btn-icon {
  margin-bottom: 4px;
}

.patient-profile-right {
  background-color: var(--primary);
  padding: 16px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  white-space: nowrap;
}

.patient-heading {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

/* .patient-profile-right span {
  margin-bottom: 8px;
} */

.patient-profile-right button {
  /* color: #0258BC; */
  color: #000000;
}

.patient-info {
  padding: 16px 0 16px 106px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.patient-info-item-label {
  font-size: 14px;
  font-weight: 500;
  color: #646464;
}

.patient-info-item {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.patient-grid {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.patient-card {
  padding: 16px 26px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  text-align: center;
}

.patient-status {
  margin: -8px 0;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.patient-status-item {
  flex: 0 0 40%;
  margin: 16px 0 8px 0;
}

.patient-status-item-date {
  margin-bottom: 8px;
}

.patient-status-item .label-status {
  margin: 0 auto 16px;
}

.patient-status-item-btn {
  margin-bottom: 8px;
  text-align: center;
  color: #0258BC;
}

.patient-status-item-btn.active-btn:after, 
.patient-status-item-btn.active-btn:before {
  content: "*";
  color: red;
}

.patient-status-item-btn:last-child {
  margin-bottom: 0;
}

.patient-status-item-duration {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 100;
  line-height: 16px;
  color: #000000;
}

.border-cntr {
  position: relative;
}

.border-cntr::after {
  content: '';
  background-color: #DBDBDB;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.patient-lab ul {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.patient-lab ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #646464;
}

.patient-lab ul li span {
  background: #F4F4FF;
  width: 86px;
  padding: 8px 6px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  border-radius: 10px;
}


.patient-meds {
  margin-top: 18px;
}

.patient-meds div {
  margin-top: 18px;
}

.patient-meds div ul {
  list-style: none;
  margin-bottom: 16px;
}

.patient-meds div ul li {
  position: relative;
  margin: 0 0 12px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  color: #000000;
  text-align: left;
}

.patient-meds div ul li:before {
  content: '';
  background-color: var(--primary);
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  left: -16px;
  border-radius: 50%;
}

.patient-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.patient-data ul {
  list-style: none;
  margin: 12px 40px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.patient-data ul li {
  flex: 0 0 40%;
  margin: 0 50px 16px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #646464;
}

.patient-data ul li:nth-child(even) {
  margin-right: 0;
}

.patient-data ul li span {
  background: #F4F4FF;
  width: 86px;
  margin-left: 8px;
  padding: 8px 6px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  border-radius: 10px;
}

/* quotes */
.quotes-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quotes-search-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 28px;
}

.quotes-search {
  position: relative;
}

.quotes-search input {
  background-color: #FFFEFE;
  width: 100%;
  padding: 16px 30px;
  border: none;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  line-height: 24px;
  color: var(--text-color);
  outline: none;
}

.quotes-search svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-20px, -50%);
}

.quotes-grid {
  /* margin-top: 32px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 28px;
}

.quotes-grid-item {
  background-color: #FFFFFF;
  padding: 12px 28px 12px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.quotes-grid-item-date {
  padding-left: 48px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #737373;
  position: relative;
}

.quotes-grid-item-date:before {
  content: '“';
  height: 75px;
  position: absolute;
  left: 0;
  font-size: 82px;
  font-weight: 500;
  color: var(--primary);
  line-height: 110px;
}

.quotes-grid-item-content {
  padding: 0 6px;
}

.quotes-grid-item-content p {
  max-width: 570px;
  margin: 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}

.quotes-grid-item-btn {
  background-color: var(--primary);
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup-content-item.selected-list span {
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.popup-content-item.selected-list ul {
  list-style: none;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px 16px;
}

.popup-content-item.selected-list ul li {
  background: rgba(92, 144, 241, 0.2);
  padding: 12px 18px 12px 12px;
  border-radius: 20px;
}

.popup-content-item.selected-list ul li span {
  background-color: #FDD3D3;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #FF0000;
  border-radius: 50%;
}

/* pagination */
.pagination-wrapper {
  display: flex;
  justify-content: center;
}

.pagination-item {
  background-color: transparent;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  color: var(--primary);
  text-align: center;
  line-height: 50px;
  border-radius: 16px;
  cursor: pointer;
}

.pagination-item.active {
  background-color: #FFFFFF;
}

.pagination-item-arrow-left {
  transform: rotate(90deg);
}

.pagination-item-arrow-right {
  transform: rotate(-90deg);
}

/* hover */
@media (hover: hover) and (pointer: fine) {
  .dashboard-card-btn:hover {
    color: #222873;
  }

  .patient-btns a:hover {
    background-color: #0467DC;
    color: #FFFFFF;
  }
}