@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

body {
  font-size: .875rem;
  background: #FFF;
  padding: 4.5rem 0.5rem 0.5rem 7.5rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: #F4F4FF;
  width: 7rem;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 4.5rem;
  }

  .sidebar .logo {
    display: none;
  }

  body {
    padding-top: 5.5rem;
    padding-left: 0.5rem;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  background-color: #FFF;
}

.sidebar .nav-link path {
  fill: #AFAFAF;
}

.sidebar .router-link-active {
  background-color: #0258BC;
}

.sidebar .router-link-active path {
  fill: #FFF;
}

/*
 * Navbar
 */

.navbar {
  background: #F4F4FF;

}

@media (max-width: 767.98px) {
  .navbar {
    height: 5rem;
  }
}

.text-small {
  font-size: 85%;
}


.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}

.lh-tight {
  line-height: 1.25;
}